---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";

---
<Hamburger /> 
<Navigation />
<h1>This is global header</h1>
<style>
    h1 {
      font-weight: 600;
      color: plum;
    }
  </style>